* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-heading: 'Staatliches', cursive;
  --font-family-texting: 'Palanquin', sans-serif;
  
  --background-primary: hsl(233, 100%, 97%);
  --background-secondary: hsla(275, 18%, 79%, 1);
  --font-color-header: hsl(0, 0%, 100%);
  --font-color-p: hsl(274, 84%, 12%);
  --font-color-h2: hsl(232, 17%, 35%);

  font-size: 62.5%;
  --font-size-body: 1.6rem;
}

body {
  font-family: var(--font-family-heading);
  background-color: var(--background-primary);
  font-size: var(--font-size-body);
  text-align: center;
}

body::before {
  content: '';
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  height: 32rem;
  position: absolute;
  z-index: -1;
  background: #8E9AAF;
}

.page {
  padding-bottom: 6rem;
}

header img {
  margin: 3.2rem 0 4rem;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

header h1 {
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--font-color-header);

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  background-color: var(--background-secondary);

  padding-block: 8px;
  margin-bottom: 3.6rem;
}

p {
  font-family: var(--font-family-texting);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;
  color: var(--font-color-p);

  height: 7.5rem;
  margin: 6rem 0 6rem;

  animation: opacity 700ms 350ms backwards;
}

main {
  margin: 3.2rem;
}

.card-group {
  display: grid;
  gap: 3.6rem;
}

.card {
  position: relative;
}

.card img {
  object-fit: cover;
  width: 100%;

  animation: downtop 700ms;
}

.card h2 {
  position: absolute;
  top: 1.7rem;
  right: 1rem;

  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: var(--font-color-h2);

  background: #FEEAFA;
  border-radius: 2rem;
  padding: 0 2.4rem 0;

  animation: topdown 700ms;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}